<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addEmployeeController</display-name>
    <servlet-name>addEmployeeController</servlet-name>
    <servlet-class>com.Controller.addEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addEmployeeController</servlet-name>
    <url-pattern>/addEmployeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateAllEmployeeContractEndDateController</display-name>
    <servlet-name>updateAllEmployeeContractEndDateController</servlet-name>
    <servlet-class>com.Controller.updateAllEmployeeContractEndDateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAllEmployeeContractEndDateController</servlet-name>
    <url-pattern>/updateAllEmployeeContractEndDateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateEmployeeByIdController</display-name>
    <servlet-name>updateEmployeeByIdController</servlet-name>
    <servlet-class>com.Controller.updateEmployeeByIdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateEmployeeByIdController</servlet-name>
    <url-pattern>/updateEmployeeByIdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listAllEmployeesController</display-name>
    <servlet-name>listAllEmployeesController</servlet-name>
    <servlet-class>com.Controller.listAllEmployeesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listAllEmployeesController</servlet-name>
    <url-pattern>/listAllEmployeesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteEmployeeByIdController</display-name>
    <servlet-name>deleteEmployeeByIdController</servlet-name>
    <servlet-class>com.Controller.deleteEmployeeByIdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteEmployeeByIdController</servlet-name>
    <url-pattern>/deleteEmployeeByIdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteEmployeebyContractDateController</display-name>
    <servlet-name>deleteEmployeebyContractDateController</servlet-name>
    <servlet-class>com.Controller.deleteEmployeebyContractDateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteEmployeebyContractDateController</servlet-name>
    <url-pattern>/deleteEmployeebyContractDateController</url-pattern>
  </servlet-mapping>
</web-app>