<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>InventoryManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addProductController</display-name>
    <servlet-name>addProductController</servlet-name>
    <servlet-class>com.ims.controller.addProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addProductController</servlet-name>
    <url-pattern>/addProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateAllProductsByExpiryDateController</display-name>
    <servlet-name>updateAllProductsByExpiryDateController</servlet-name>
    <servlet-class>com.ims.controller.updateAllProductsByExpiryDateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAllProductsByExpiryDateController</servlet-name>
    <url-pattern>/updateAllProductsByExpiryDateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateProductByIdController</display-name>
    <servlet-name>updateProductByIdController</servlet-name>
    <servlet-class>com.ims.controller.updateProductByIdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProductByIdController</servlet-name>
    <url-pattern>/updateProductByIdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteProductbyExpiryDateController</display-name>
    <servlet-name>deleteProductbyExpiryDateController</servlet-name>
    <servlet-class>com.ims.controller.deleteProductbyExpiryDateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProductbyExpiryDateController</servlet-name>
    <url-pattern>/deleteProductbyExpiryDateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteProductByIdController</display-name>
    <servlet-name>deleteProductByIdController</servlet-name>
    <servlet-class>com.ims.controller.deleteProductByIdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProductByIdController</servlet-name>
    <url-pattern>/deleteProductByIdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listAllProductsController</display-name>
    <servlet-name>listAllProductsController</servlet-name>
    <servlet-class>com.ims.controller.listAllProductsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listAllProductsController</servlet-name>
    <url-pattern>/listAllProductsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>applyDiscountController</display-name>
    <servlet-name>applyDiscountController</servlet-name>
    <servlet-class>com.ims.controller.applyDiscountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>applyDiscountController</servlet-name>
    <url-pattern>/applyDiscountController</url-pattern>
  </servlet-mapping>
</web-app>